.navbar {
	border: none;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-brand {
	height: auto;
	padding-top: 0;
	padding-bottom: 0;

	footer & {
		display: inline-block;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		padding-left: 0;
		padding-right: 0;
		margin-right: 1.5rem;
	}
}

.btn-primary {
	&:focus,
	&:active {
		outline: 0 !important;
		background: $primary !important;
		border-color: $primary !important;
		box-shadow: none !important;
	}
}

.btn-primary.bg-primary {
	background: $primary !important;

	&:hover {
		background: $primary !important;
	}
}

.btn-bg-dark {
	background: $secondary;
	border-color: transparent;
	color: white;
	transition: all 0.2s ease, border 1ms ease, background-color 1ms ease;

	&:before {
		display: none;
	}

	&:focus {
		background: $secondary !important;
		transform: scale(0.999);
		border: solid 1px transparent !important;
	}

	&:hover,
	&.active,
	&:active {
		background: $primary !important;
		color: white;
		will-change: transform;
		transform: scale(1.05);
		border: solid 1px transparent !important;
		box-shadow: none !important;
		outline: 0 !important;
	}
}

.btn.disabled,
.btn:disabled {
	background: $secondary-lighter;
	color: white;
	opacity: 1;
}

p a {
	overflow-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	color: $primary !important;
}

a {
	&:focus {
		color: $primary;
		text-decoration: none;
	}
}

.min-100 {
	min-height: 100%;
}

.border-radius-2 {
	border-radius: 2rem;
}

.red-font {
	color: red;
}

code {
	color: $primary;
	background: black;
}

.abi-textarea {
	color: black;
}

.card.jsGoToAnchor,
.card.link {
	transition: all 0.12s ease-in-out;
	cursor: pointer;

	&:after {
		font-family: "Material Icons";
		content: "arrow_downward";
		-webkit-font-feature-settings: "liga";
		position: absolute;
		transform: translate(-50%, 0);
		left: 50%;
		bottom: 0.1rem;
		color: $primary;
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		box-shadow: 0 0.2rem 0.6rem rgba(52, 58, 64, 0.15) !important;

		&:after {
			bottom: 0.8rem;
			opacity: 1;
		}
	}
}
