.navbar {
	border: none;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-brand {
	height: auto;
	padding-top: 0;
	padding-bottom: 0;

	footer & {
		display: inline-block;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		padding-left: 0;
		padding-right: 0;
		margin-right: 1.5rem;
	}
}

.navbar-collapse {
	flex-basis: 20%;
}

section {
	@media only screen and (max-width: 767px) {
		padding: 2.5rem 0;
	}
}

.btn-primary {
	&:focus,
	&:active {
		outline: 0 !important;
		background: $primary !important;
		border-color: $primary !important;
		box-shadow: none !important;
	}
}

.btn-primary.bg-primary {
	background: $primary !important;

	&:hover {
		background: $primary !important;
	}
}

.btn-bg-dark {
	background: $secondary;
	border-color: transparent;
	color: white;
	transition: all 0.2s ease, border 1ms ease, background-color 1ms ease;

	&:before {
		display: none;
	}

	&:focus {
		background: $secondary !important;
		transform: scale(0.999);
		border: solid 1px transparent !important;
	}

	&:hover,
	&.active,
	&:active {
		background: $primary !important;
		color: white;
		will-change: transform;
		border: solid 1px transparent !important;
		box-shadow: none !important;
		outline: 0 !important;
	}

	&:hover {
		transform: scale(1.05);
	}
}

.btn.disabled,
.btn:disabled {
	background: $secondary-lighter;
	color: white;
	opacity: 1;
}

p a,
ol a,
a.underline {
	overflow-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	color: black !important;
	display: inline-block;

	.bg-dark & {
		color: $primary !important;
	}

	&:after {
		content: "";
		width: 100%;
		height: 1px;
		display: block;
		background: $primary;
		transition: 100ms;
		will-change: transform;
	}

	&:hover {
		&:after {
			transform: translate(0, 1px);
		}
	}

	&:focus {
		color: $primary;
		text-decoration: none;
	}
}

a {
	&:focus {
		color: $primary;
		text-decoration: none;
	}
}

.min-100 {
	min-height: 100%;
}

.border-radius-2 {
	border-radius: 2rem;
}

.mt-md-minus-3 {
	@media only screen and (min-width: 768px) {
		margin-top: -1.5rem;
	}
}

code {
	color: $primary;
	background: black;
}

.abi-textarea {
	color: black;
}

.card.jsGoToAnchor,
.card.link {
	transition: all 0.12s ease-in-out;
	cursor: pointer;

	&:after {
		font-family: "Material Icons";
		content: "arrow_downward";
		-webkit-font-feature-settings: "liga";
		position: absolute;
		transform: translate(-50%, 0);
		left: 50%;
		bottom: 0.1rem;
		color: $primary;
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		box-shadow: 0 0.2rem 0.4rem rgba(52, 58, 64, 0.15) !important;

		&:after {
			bottom: 0.8rem;
			opacity: 1;
		}
	}
}

.process-overview-timeline {
	position: relative;
	justify-content: space-between !important;

	& > div:nth-child(2) {
		@media only screen and (min-width: 1200px) {
			flex: 0 0 41.66667%;
			max-width: 41.66667%;
		}
	}

	&:after,
	&:before {
		content: none;
	}

	.card {
		background: white;
		position: relative;
		z-index: 1;
	}
}

.process-overview-step {
	min-height: 8rem;
}

.process-overview-line {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 84%;
	height: 1px;
	top: 47%;
	left: 50%;
	z-index: 0;
	visibility: hidden;

	@media (max-width: 767px) {
		width: 1px;
		height: 76%;
		visibility: visible;
	}

	@media (min-width: 992px) {
		visibility: visible;
	}
}

.process-overview-line-fade {
	position: relative;
	background: none;
	width: 100%;
	height: 100%;
}

.process-overview-line-progress {
	position: absolute;
	width: 0%;
	height: 100%;
	transition: all 2.4s linear;
	visibility: hidden;

	@media (max-width: 767px) {
		width: 1px;
		height: 0;
	}

	&.visible {
		width: 100%;

		@media (max-width: 767px) {
			width: 1px;
			height: 100%;
		}
	}
}

.active-animation {
	background-image: linear-gradient(90deg, $primary 50%, transparent 50%);
	background-repeat: repeat-x;
	background-size: 15px 1px;
	background-position: left top;
	animation: border-dance 1s infinite linear;

	@media (max-width: 767px) {
		background-image: linear-gradient(0deg, $primary 50%, transparent 50%);
		background-repeat: repeat-y;
		background-size: 1px 15px;
		background-position: left bottom;
		animation: border-dance-y 1s infinite linear;
	}
}

@keyframes border-dance {
	0% {
		background-position: left top;
	}
	100% {
		background-position: left 15px top;
	}
}

@keyframes border-dance-y {
	0% {
		background-position: left bottom;
	}
	100% {
		background-position: left bottom 15px;
	}
}
