.dashboard-input {
	appearance: none;
	width: 100%;
	border: none;
	background: transparent;
	border-radius: 1rem;
	padding: 1rem 2rem 1.3rem 2rem;
	color: white;
	font-size: 2rem;
	line-height: 4rem;
	box-shadow: none;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace !important;

	@media (max-width: 767px) {
		padding: 1rem 2rem 1.3rem 1rem;
		font-size: 1rem;
		line-height: 2rem;
		border-radius: 0.5rem;
		background: white;
	}

	border: solid 1px white;
	transition: all 0.2s ease, border 1ms ease;
	will-change: transform;
	transform: scale(0.999);
	position: relative;

	&:before {
		content: "";
		height: 100%;
		position: absolute;
		top: 0;
		background: white;
		transition: all 0.2s ease, background-color 0.1s linear;
		will-change: transform;
		color: transparent;
		z-index: -1;
		border: solid 1px white;
	}

	&:hover,
	&:focus {
		background: white;
		will-change: transform;
		transform: scale(1.03);
		border: solid 1px transparent;
		outline: 0 !important;
		color: black;

		&::placeholder {
			color: black;
			transform: scale(1);
		}
	}

	&::placeholder {
		color: white;
		transform: scale(0.5);
		transform-origin: 0% 50%;

		@media (max-width: 767px) {
			transform: scale(1);
			opacity: 1;
			color: black;
		}
	}
}

.dashboard-output-group {
	margin-bottom: 4px;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace !important;
}

.dashboard-output-name {
	display: inline-block;
	color: white;
	@media (max-width: 767px) {
		margin-bottom: 4px;
	}

	@extend code;
}

.dashboard-output-value {
	display: inline-block;
	padding: 4px;

	@media (max-width: 767px) {
		display: block;
		padding: 0;
		overflow-wrap: break-word;
		word-break: break-word;
		margin-bottom: 1rem;
		padding-left: 4px;
	}
}
