.dashboard-input {
	width: 100%;
	border: none;
	background: transparent;
	border-radius: 1rem;
	padding: 1rem 2rem 1.3rem 2rem;
	color: white;
	font-size: 2rem;
	line-height: 4rem;

	border: solid 1px white;
	transition: all 0.2s ease, border 1ms ease;
	will-change: transform;
	transform: scale(0.999);
	position: relative;

	&:before {
		content: "";
		height: 100%;
		position: absolute;
		top: 0;
		background: white;
		transition: all 0.2s ease, background-color 0.1s linear;
		will-change: transform;
		color: transparent;
		z-index: -1;
		border: solid 1px white;
	}

	&:hover,
	&:focus {
		background: white;
		will-change: transform;
		transform: scale(1.03);
		border: solid 1px transparent;
		outline: 0 !important;
		color: black;

		&::placeholder {
			color: $secondary;
			transform: scale(1);
		}
	}

	&::placeholder {
		color: white;
		transform: scale(0.5);
		transform-origin: 0% 50%;
	}
}
