html {
	text-size-adjust: 100%;
	font-size: 16px;
	font-family: $font-body !important;
}

body {
	color: $black;
	background: $white;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

main.page-content {
	@media (min-width: 768px) {
		padding-top: 90px;
	}
}

a.back-to-top.sticky-viewport-bottom.position-fixed {
	display: none !important;
}

#mc_embed_signup_scroll {
	.input-group-prepend {
		height: 58px;

		span {
			height: 58px;
		}
	}
}

.row:before,
.row:after {
	display: inline-block;
}
