.slider {
	padding-top: 6rem;

	@media (max-width: 767px) {
		padding-bottom: 8rem;
	}

	height: 30vh;
	visibility: hidden;
}

.tns-outer .slider {
	visibility: visible;
	height: auto;
}

.slider-step {
	position: absolute;
	top: -1.5rem;
	display: none;
}

.tns-outer {
	position: relative;
}

.tns-controls {
	outline: 0 !important;
	padding-bottom: 0.2rem;
	padding-bottom: 2rem;
	text-align: right;
	position: absolute;
	top: -4.7rem;
	right: -1rem;
	z-index: 1000;

	@media (max-width: 767px) {
		top: auto;
		bottom: -8rem;
	}

	& > button {
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		text-indent: -99999px;
		border: none;
		background: no-repeat center center transparent;
		transition: all 0.2s ease-in-out, background-color 0.1s ease-in-out;

		&:not([disabled]):hover {
			background-color: #42484d;
			transform: scale(1.05);
		}

		&[disabled] {
			opacity: 0.1;
		}
	}

	button[data-controls="prev"] {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23fff' d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'/%3E%3C/svg%3E%0A");
	}

	button[data-controls="next"] {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23fff' d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E%0A");
		margin-left: 0.5rem;
	}
}

.tns-nav {
	position: absolute;
	display: inline-block;
	top: -4.2rem;
	left: 0;

	@media (max-width: 767px) {
		top: auto;
		bottom: -4.9rem;
	}

	button {
		border: none;
		background: none;
		position: relative;
		padding: 5px;

		&:after {
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 50%;
			position: absolute;
			left: 2px;
			top: 2px;
			background: #42484d;
			opacity: 0.4;
			transform: scale(1);
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			&:after {
				transform: scale(1.4);
				background: white;
				opacity: 1;
			}
		}

		&.tns-nav-active {
			&:after {
				background: white;
				opacity: 1;
				transform: scale(1.4);
			}
		}

		&:active,
		&:focus {
			outline: 0;
		}
	}
}

.slider-img-wrapper {
	max-width: 100%;
	padding-top: 10px;
}

.slider-img {
	position: relative;

	img {
		box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
	}
}

.dot {
	&:after {
		content: "";
		position: absolute;
		transform: translate(-50%, -50%);
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		background: $primary;
		will-change: transform;
		animation: pulsing-dot 1.5s ease-in-out infinite;
	}

	// slider_parity_signer

	&#s1_2:after {
		top: 27.85%;
		left: 53.9%;
	}

	&#s1_3:after {
		top: 27.2%;
		left: 24.5%;
	}

	&#s1_5_1:after {
		bottom: 7%;
		right: 15.5%;
	}

	&#s1_5_2:after {
		bottom: 9%;
		left: -0.5%;
	}

	&#s1_6_1:after {
		top: 21%;
		left: -0.5%;
	}

	&#s1_6_2:after {
		top: 22.3%;
		left: 66.5%;
	}

	&#s1_6_3:after {
		top: 38.5%;
		left: -0.5%;
	}

	&#s1_6_4:after {
		top: 63.4%;
		left: -0.5%;
	}

	&#s1_6_5:after {
		top: 49.2%;
		left: -0.5%;
	}

	&#s1_6_6:after {
		top: 36.1%;
		left: -0.5%;
	}

	&#s1_6_7:after {
		top: 59.5%;
		left: -0.5%;
	}

	&#s1_7:after {
		top: 42.4%;
		left: -0.5%;
	}

	&#s1_8:after {
		top: 42.4%;
		left: -0.5%;
	}

	&#s1_9_1:after {
		top: 47.5%;
		left: -0.5%;
	}

	&#s1_9_2:after {
		top: 50%;
		left: -0.5%;
	}

	&#s1_10:after {
		top: 21%;
		left: -0.5%;
	}

	// slider_polkadot_js_plugin

	&#s2_2:after {
		top: 19.85%;
		left: 87.5%;
	}

	&#s2_3:after {
		top: 49.9%;
		left: -0.5%;
	}

	&#s2_4:after {
		top: 38.85%;
		left: -0.5%;
	}

	&#s2_5:after {
		top: 21.5%;
		left: -0.5%;
	}

	&#s2_5_2:after {
		top: 21.5%;
		left: -0.5%;
	}

	&#s2_5_3:after {
		top: 33%;
		left: -0.5%;
	}

	&#s2_6:after {
		top: 43.7%;
		left: -0.5%;
	}

	&#s2_7:after {
		top: 64.5%;
		left: -0.5%;
	}

	&#s2_8:after {
		top: 76.2%;
		left: -0.5%;
	}

	&#s2_9:after {
		top: 5.2%;
		// right: -7%;
	}

	&#s2_10:after {
		top: 15.2%;
		left: -0.5%;
	}

	&#s2_11:after {
		top: 64%;
		left: -0.5%;
	}

	&#s2_12:after {
		top: 35.8%;
		// right: -7%;
	}

	&#s2_13:after {
		top: 31.7%;
		left: 12.5%;
	}

	&#s2_14:after {
		top: 31.7%;
		left: 12.5%;
	}

	// subkey

	&#s3_1:after {
		top: 18.1%;
		left: -0.5%;
	}

	// slider polkadot js

	&#s4_1:after {
		top: 49.9%;
		left: -0.5%;
	}

	&#s4_2:after {
		top: 22.4%;
		left: -0.5%;
	}

	&#s4_3:after {
		top: 29.5%;
		left: -0.5%;
	}

	&#s4_4:after {
		top: 51.4%;
		left: -0.5%;
	}

	&#s4_5:after {
		top: 43.9%;
	}

	// coinbase
}

#s1_4 {
	img {
		border-radius: 24%;
	}
}

#s1_9_2 {
	img {
		border-radius: 50%;
	}
}

#s2_1,
#s4_0 {
	img {
		max-width: 260px;
	}
}

#s5_1 {
	img {
		max-width: 260px;
	}
}

@keyframes pulsing-dot {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.5);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}
