<ul class="list-group">
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-1">
				<span class="mb-0 text-primary py-1 font-weight-bold">Is there a deadline to claim? What happens if I
					miss it?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-1" class="collapse">
			<div class="py-1">
				<p>The deadline is XX XXX XXXX. Claims made before this date will allow you to have access to dots as soon as
					the Polkadot mainnet is launched.</p>
				<p>If you miss the deadline, there is a separate claims process that you can go through (similar to the current
					Kusama claims process -
					<a href="https://polkadot.js.org/apps/#/claims)" target="_blank"
						rel="noopener noreferrer">https://polkadot.js.org/apps/#/claims)</a>
					which will allow you to claim your dots. You will gain access to your dots very shortly thereafter (most
					likely within a minute). This process will work indefinitely after the launch of Polkadot’s main network and
					beyond the genesis block.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-2">
				<span class="mb-0 text-primary py-1 font-weight-bold">Why do I need to claim?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-2" class="collapse">
			<div class="py-1">
				<p>If you have already purchased dots, you do not yet have access to them. Your “right” to a certain number of
					dots
					is currently stored on the Ethereum blockchain as dot allocation indicator tokens. The claims process exists
					to
					transform those allocation indicator tokens into dots.</p>
				<p>As part of this claims process you first need to create a Polkadot address, and then prove that you are both
					the
					owner of the Ethereum address and the owner of the Polkadot address. After proving that you have access to the
					dots linked to the Ethereum address, the correct number of dots will be allocated to your address on the
					Polkadot
					blockchain.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-3">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I see if I have any dots?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-3" class="collapse">
			<div class="py-1">
				<a>Enter your Ethereum address
					<a href="#claim-checker">here</a>
					</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-4">
				<span class="mb-0 text-primary py-1 font-weight-bold">What if I forget which Ethereum address I signed up
					with?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-4" class="collapse">
			<div class="py-1">
				<p>You can review the addresses associated with the contract at 0xb59f67a8bff5d8cd03f6ac17265c550ed8f33907
					<a href="https://etherscan.io/address/0xb59f67a8bff5d8cd03f6ac17265c550ed8f33907" target="_blank"
						rel="noopener noreferrer">(https://etherscan.io/address/0xb59f67a8bff5d8cd03f6ac17265c550ed8f33907)</a>
					here
				</p>
				<p>
					<a href="https://etherscan.io/token/0xb59f67a8bff5d8cd03f6ac17265c550ed8f33907#balances " target="_blank"
						rel="noopener noreferrer">https://etherscan.io/token/0xb59f67a8bff5d8cd03f6ac17265c550ed8f33907#balances
					</a>
				</p>
				<p>If you still have problems, you may contact the Web3 Foundation (email:
					<a href="mailto:help@web3.foundation">help@web3.foundation</a>
					) for further
					assistance.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-5">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I get a Polkadot address?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-5" class="collapse">
			<div class="py-1">
				<p>There are a variety of ways to generate Polkadot addresses, with different security, convenience and other
					tradeoffs. They are listed here: (link to address generation)</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-6">
				<span class="mb-0 text-primary py-1 font-weight-bold">How quickly will I get my dots?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-6" class="collapse">
			<div class="py-1">
				<p>If you participate in the claims process before XX XXX XXXX, your dots will be included in the genesis block.
					This means that you will have access to them as soon as the Polkadot blockchain launches.</p>
				<p>If you claim the dots using the alternative claims process after launch, then you will receive your dots
					shortly
					after submitting your claim. This process should take less than a minute.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-7">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I know my claimworked?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-7" class="collapse">
			<div class="py-1">
				<p>You should receive a message immediately after attempting to claim your dots, indicating the success or
					failure
					of the claim. Once the Polkadot mainnet is running, you can use (<a
						href="https://polkadot.js.org/apps/#/accounts" target="_blank"
						rel="noopener noreferrer">https://polkadot.js.org/apps/#/accounts</a>) to
					verify that your account has the expected number of dots.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-8">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim Kusama tokens?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-8" class="collapse">
			<div class="py-1">
				<p>If you purchased your dot tokens in the pre-sale, you are entitled to the same number of Kusama tokens as
					well.
					You may claim these through a different process separate from this claim page. See (<a
						href="https://guide.kusama.network/en/latest/start/claims/" target="_blank" rel="noopener
											noreferrer">https://guide.kusama.network/en/latest/start/claims/</a>) for
					detailed instructions.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-9">
				<span class="mb-0 text-primary py-1 font-weight-bold">Do I need to claim again if I already claimed for
					Kusama</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-9" class="collapse">
			<div class="py-1">
				<p>Yes. Kusama is a completely separate network from Polkadot so any claims for kusamas do not apply to Polkadot
					or
					dots. If you already made a claim for kusamas, please make a new claim for dots.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center">
			<a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-10">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim my dots using through a third party?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-10" class="collapse">
			<div class="py-1">
				<p>We do not recommend using a third-party application or process to
					claim your dots or purchase dots. Please don't hesitate to contact
					<a href="mailto:dots@polkadot.network" target="_blank" rel="noopener noreferrer">dots@polkadot.network</a>
					with any questions.</p>
				<p>Claiming using a third-party process can lead to the loss of
					your allocation, therefore we cannot recommend using any
					third-party applications to do so. Manually specifying your transaction
					data, as specified in our claims process, is the only way to be
					certain you will receive your allocation.</p>
			</div>
		</div>
	</li>
</ul>
