<footer class="spacer-y-3 bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-3 mb-3 mb-md-0">
				<h5 class="text-white">General</h5>
				<ul class="list-unstyled">
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/about" class="text-white">About</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/faq" class="text-white">FAQ</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/contact" class="text-white">Contact</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/build" class="text-white">Build on Polkadot</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://github.com/w3f/Web3-collaboration/blob/master/grants/grants.md" target="_blank" class="text-white">Grants and Bounties</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/jobs" class="text-white">Careers</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-md-3 mb-3 mb-md-0">
				<h5 class="text-white">Technology</h5>
				<ul class="list-unstyled">
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/technology" class="text-white">Technology</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/dot-token" class="text-white">Token</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://telemetry.polkadot.io/" target="_blank" class="text-white">Telemetry</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://www.parity.io/substrate" target="_blank" class="text-white">Substrate</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/PolkaDotPaper.pdf" class="text-white">Whitepaper</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/Polkadot-lightpaper.pdf" class="text-white">Lightpaper</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-3 mb-3 mb-md-0">
				<h5 class="text-white">Community</h5>
				<ul class="list-unstyled">
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/community" class="text-white">Community</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="http://wiki.polkadot.network/en/latest/" target="_blank" class="text-white">Documentation</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://polkadot.network/blog" class="text-white">Blog</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://wiki.polkadot.network/en/latest/polkadot/learn/implementations/" target="_blank" class="text-white">GitHub</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://riot.im/app/#/room/#polkadot-watercooler:matrix.org" target="_blank" class="text-white">Riot Chat</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://medium.com/polkadot-network" target="_blank" class="text-white">Medium</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://www.reddit.com/r/dot" target="_blank" class="text-white">Reddit</a>
					</li>
					<li class="py-0 py-md-1">
						<a href="https://t.me/polkadotofficial" target="_blank" class="text-white">Telegram</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-3">
				<ul class="list-social-links justify-content-around">
					<li class="text-white">
						<a href="https://twitter.com/polkadotnetwork" target="_blank">
							<i class="socicon-twitter"></i>
						</a>
					</li>
					<li class="text-white">
						<a href="https://www.reddit.com/r/dot" target="_blank">
							<i class="socicon-reddit"></i>
						</a>
					</li>
					<li class="text-white">
						<a href="https://wiki.polkadot.network/en/latest/polkadot/learn/implementations/" target="_blank">
							<i class="socicon-github"></i>
						</a>
					</li>
					<li class="text-white">
						<a href="https://www.youtube.com/channel/UCB7PbjuZLEba_znc7mEGNgw" target="_blank">
							<i class="socicon-youtube"></i>
						</a>
					</li>
					<li class="text-white">
						<a href="https://t.me/polkadotofficial" target="_blank">
							<i class="socicon-telegram"></i>
						</a>
					</li>
				</ul>
				<hr style="border-color: white; opacity: 0.1;">
				<p class="d-block text-white">Subscribe to the newsletter to hear about Polkadot updates and events.</p>
				<form action="https://foundation.us16.list-manage.com/subscribe/post?u=a30a54feb730c7553e5d2eb0c&amp;id=93eced75b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<div class="row">
						<div class="col">
							<div id="mc_embed_signup_scroll">
								<div class="mc-field-group mb-2">
									<input type="email" value="" name="EMAIL" class="form-control form-round" placeholder="Your email address" id="mce-EMAIL">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a30a54feb730c7553e5d2eb0c_93eced75b7" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary d-block mb-1"></div>
							</div>
							<small class="text-white">To see how we use your information please see our
								<a class="text-white" href="https://polkadot.network/privacy" target="_blank">privacy policy</a>.</small>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row footer-legal  align-items-end mt-3">
			<div class="col-12 col-md-2">
				<a class="navbar-brand" href="https://polkadot.network/">
					<img class="logo" alt="Polkadot" src="{{site.baseurl}}/assets/images/logo-polkadot-light.svg">
				</a>
			</div>
			<div class="col-12 col-md-10">
				<ul class="list-unstyled d-flex flex-wrap list-pipe-separator">
					<li>
						<span class="text-small text-white mr-1">©
							<script type="text/JavaScript">document.write(new Date().getFullYear());</script>
							<a href="https://polkadot.network/" class="text-white">Polkadot</a>
							|</span>
					</li>
					<li>
						<a href="https://polkadot.network/impressum" class="text-white text-small">Impressum</a>
					</li>
					<li>
						<a href="https://polkadot.network/disclaimer" class="text-white text-small">Disclaimer</a>
					</li>
					<li>
						<a href="https://polkadot.network/privacy" class="text-white text-small">Privacy</a>
					</li>
					<li>
						<a href="https://polkadot.network/testnetdisclaimer" class="text-white text-small">Testnet disclaimer</a>
					</li>
					<li>
						<a href="https://polkadot.network/memorandum" class="text-white text-small">Memorandum</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
