<div class="row justify-content-start">
	<div class="col-12 col-md-2">
		<div class="card border border-radius-2 min-100">
			<div class="card-body p-3">
				<div class="text-secondary">Step 1</div>
				<h6 class="mb-5">Verify your Ethereum address</h6>
				<div class="text-center">
					<a href="#verify-etherum-address" class="btn btn-primary btn-bg-dark shadow">Verify</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6">
		<div class="card border border-radius-2 min-100">
			<div class="card-body p-3">
				<div class="text-secondary">Step 2</div>
				<h6>Generate a Polkadot Address</h6>
				<div class="mt-5 pt-2">
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo" data-slider="1">Polkadot{.js} Browser Plugin</a>
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo" data-slider="2">Subkey</a>
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo" data-slider="3">polkadot.js</a>
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo" data-slider="4">Coinbase</a>
					<button class="btn mr-1 mb-2 shadow" disabled>Parity Signer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-2">
		<div class="card border border-radius-2 min-100">
			<div class="card-body p-3">
				<div class="text-secondary">Step 3</div>
				<h6 class="mb-5">Claim Your Dots</h6>
				<div class="text-center">
					<a href="#claim-process" class="btn btn-primary btn-bg-dark mr-2 mb-2 shadow jsSliderGoTo" data-slider="1">MyCrypto</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-2">
		<div class="card border border-radius-2 min-100">
			<div class="card-body p-3">
				<div class="text-secondary">Step 4</div>
				<h6 class="mb-5">Verify your
					<br>Claim</h6>
				<div class="text-center">
					<a href="#claim-verify" class="btn btn-primary bg-primary text-white shadow">Checker</a>
				</div>
			</div>
		</div>
	</div>
</div>
