<div class="row justify-content-start process-overview-timeline">
	<div class="col-12 col-md-6 col-lg-2 mb-4">
		<div class="card shadow border-radius-2 min-100 jsGoToAnchor" data-anchor="#verify-ethereum-address">
			<div class="card-body p-3 mb-3">
				<div class="process-overview-step">
					<div class="text-secondary">Step 1</div>
					<h6>Check Your Ethereum Address</h6>
				</div>
				<div class="text-center">
					<a href="#verify-ethereum-address" class="btn btn-primary btn-bg-dark shadow">Check</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-6 mb-4">
		<div class="card shadow border-radius-2 min-100 jsGoToAnchor" data-anchor="#wallet">
			<div class="card-body p-3 mb-3">
				<div class="process-overview-step">
					<div class="text-secondary">Step 2</div>
					<h6>Generate a&nbsp;Polkadot <br>Address</h6>
				</div>
				<div>
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo jsGoToAnchor"
						data-slider="1" data-anchor="#wallet-create">Polkadot{.js} Browser Plugin</a>
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo jsGoToAnchor"
						data-slider="2" data-anchor="#wallet-create">Subkey</a>
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo jsGoToAnchor"
						data-slider="3" data-anchor="#wallet-create">polkadot.js</a>
					<a href="#wallet-create" class="btn btn-primary btn-bg-dark mr-1 mb-2 shadow jsSliderGoTo jsGoToAnchor"
						data-slider="4" data-anchor="#wallet-create">Coinbase</a>
					<button class="btn mr-1 mb-2 shadow" disabled>Parity Signer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-2 mb-4">
		<div class="card shadow border-radius-2 min-100 jsGoToAnchor" data-anchor="#claim">
			<div class="card-body p-3 mb-3">
				<div class="process-overview-step">
					<div class="text-secondary">Step 3</div>
					<h6>Claim Your <br>Dots</h6>
				</div>
				<div class="text-center">
					<a href="#claim-process" class="btn btn-primary btn-bg-dark mb-2 shadow jsSliderGoTo jsGoToAnchor"
						data-slider="1" data-anchor="#claim-process">MyCrypto</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-2 mb-4">
		<div class="card shadow border-radius-2 min-100 jsGoToAnchor" data-anchor="#claim-verify">
			<div class="card-body p-3 mb-3">
				<div class="process-overview-step">
					<div class="text-secondary">Step 4</div>
					<h6>Verify Your
						<br>Claim</h6>
				</div>
				<div class="text-center">
					<a href="#claim-verify" class="btn btn-primary bg-primary text-white shadow jsGoToAnchor"
						data-anchor="#claim-verify">Verify</a>
				</div>
			</div>
		</div>
	</div>
</div>
