<div id="nested_inner_polkadot_js_plugin">
	<div>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-12 mb-2">
						<h2 class="text-white">Polkadot{.js} Browser Plugin</h2>
					</div>
					<div class="col-12 col-md-5">
						<p>This method provides a reasonable trade-off between security and convenience. It involves installing the
							Polkadot{.js} plugin and using that as a “virtual vault”, separate from your browser, which stores your
							private
							keys and allows signing of transactions and similar functionality.</p>
						<p>It is still running on the same
							computer as
							you are connected to the Internet with, however, and thus is less secure than using Parity Signer or other
							air-gapped protocols.
						</p>
					</div>
					<div class="col-12 col-md-7">
						<div id="s2_1" class="slider-img text-center ml-md-5 mr-md-5">
							<img class="tns-lazy-img shadow-none"
								data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_01.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 1</div>
						<h2 class="text-white">Install browser plugin</h2>
					</div>
					<div class="col-12 col-md-6">
						<p><a
								href="https://chrome.google.com/webstore/detail/polkadot%7Bjs%7D-extension/mopnmbcafieddcagagdcbnhejhlodfdd?hl=en"
								target="_blank" rel="noopener noreferrer">Chrome and Chromium-based browsers</a><br>
							<a href="https://addons.mozilla.org/en-US/firefox/addon/polkadot-js-extension" target="_blank"
								rel="noopener noreferrer">Firefox</a>
						</p>
						<p>If you would like to know more or review the code of the plugin yourself, you can find the Github source
							repository here: <a href="https://github.com/polkadot-js/extension" target="_blank"
								rel="noopener noreferrer">https://github.com/polkadot-js/extension</a></p>
					</div>
					<div class="col-12 col-md-6">
						<p>After installing the plugin, you should see the orange and white Polkadot{.js} logo in the menu bar of
							your
							browser.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_2" class="slider-img dot text-center ml-md-2">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_02.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2</div>
						<h2 class="text-white">Accounts</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Navigate to <a href="https://polkadot.js.org/apps/" target="_blank"
								rel="noopener noreferrer">https://polkadot.js.org/apps/</a> and click on
							Accounts. This is located in the sidebar on the left side
							of your screen.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_3" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_03.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 3</div>
						<h2 class="text-white">Create account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Open the Polkadot{.js} browser extension by clicking on it. You will see a separate browser window open.
							If you
							have used this extension before, you may see a list of previously generated accounts. In any case,
							however, you
							will see two buttons - “I want to create an account with a new seed” and “I have a pre-existing seed,
							import the
							account”. Click “I want to create an account with a new seed”.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_4" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_04.jpg">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 3</div>
						<h2 class="text-white">Create account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>The Polkadot{.js} plugin will then use system randomness to make a new seed for you and display it to you
							in the form of twelve words. The seed is the "key" to your account - anybody who knows these twelve words
							will be able to do anything you can do with your account.</p>
						</p>
						<p>
							You should back up these keys. It is imperative to store the seed somewhere safe, secret, and secure. If
							you cannot
							access your account via Polkadot{.js} for some reason, you can simply re-enter your seed, and have access
							to your
							account once again.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_5" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_05.jpg">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 4</div>
						<h2 class="text-white">Back up seed</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>
							For maximum security, the seed should be written down on paper or another non-digital device and stored in
							a safe place.
							You may also want to protect your seed from physical damage, as well (e.g. by storing in a sealed plastic
							bag to prevent
							water damage, storing it in a fireproof safe, etc.) It is recommended that you store multiple copies of
							the seed in
							geographically separate locations (e.g., one in your home safe and one in a safety deposit box at your
							bank).
						</p>
						<p>
							You should definitely not store your seed directly on any kind of computer which has or may have access to
							the Internet
							in the future.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_5_2" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_05.jpg">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Name account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>
							You are not able to edit the seed words. However, you should add a descriptive name for this account in
							the lower
							textbox (e.g. “Bob”, “Jane”, or “Office Account”).
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_5_3" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_05.jpg">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 6</div>
						<h2 class="text-white">Enter password</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>After typing a name for the account, a new textbox will appear in which you can enter a password. When
							you
							start typing, a new textbox will appear underneath it. Enter the same password in the second textbox. If
							your
							passwords do not match, the plugin will not allow you to generate the account.
						</p>
						<p>
							Note that this password will protect your data in the plugin and in the backup file generated by the
							plugin
							(described later). It does NOT protect your seed phrase. If someone knows the twelve words in your
							mnemonic seed,
							they still have control over your account even if they do not know the password.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_6" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_06.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 7</div>
						<h2 class="text-white">Review account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Once both of your passwords match, information about the account that will be generated will be displayed
							to
							you.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_7" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_07.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 7</div>
						<h2 class="text-white">Review account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Click on “Add the account with the generated seed”. You will be taken back to the main page of the
							plugin,
							which should now include your generated account.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_8" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_07.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 8</div>
						<h2 class="text-white">Get address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Your address should have a “1” as the first character. This indicates that it is a Polkadot mainnet
							address. If
							not, do not worry. Addresses for different Substrate-derived networks (such as Kusama) can be used
							interchangeably. The polkadot.js and other UIs will automatically convert one from the other when pasting.
						</p>
						<p>If you would like to ensure that the addresses are displayed as Polkadot mainnet addresses, simply click
							on
							Options at the top of the plugin window.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_9" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_08.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 8</div>
						<h2 class="text-white">Get address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>You can copy the address by clicking on the unique Polkadot icon representing your account (the colorful
							hexagon of differently-colored dots).
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_10" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_08.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 9</div>
						<h2 class="text-white">Add account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>To ensure that it is displayed as a Polkadot mainnet address, do not simply paste into a Word or text
							document.
							Instead, click on Address Book in the polkadot.js.org page in your browser, then click “Add Contact”.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_11" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_09.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 9</div>
						<h2 class="text-white">Add account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>To ensure that it is displayed as a Polkadot mainnet address, do not simply paste into a Word or text
							document.
							Instead, click on Address Book in the polkadot.js.org page in your browser, then click “Add Contact”.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s2_12" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_10.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 10</div>
						<h2 class="text-white">Get converted address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>A new window should appear. Paste the contents of your clipboard (which should be your Polkadot address
							if you
							clicked on the Polkadot account icon and have not copied anything since).
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-img-wrapper">
				<div id="s2_13" class="slider-img dot">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_11.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 10</div>
						<h2 class="text-white">Get converted address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>You can now copy and paste the address from the address textbox, and you now have a plain-text copy of
							your
							Polkadot mainnet address.
						</p>
						<p>Note again that an address in a different format can always be converted to a Polkadot address, but for
							ease of
							use and understanding, it is best to ensure that you are always using Polkadot mainnet addresses.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-img-wrapper">
				<div id="s2_14" class="slider-img dot">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_12.jpg">
				</div>
			</div>
		</div>
	</div>
</div>
