<div class="row mb-5">
	<h2 class="col-12 text-white mb-3">Subkey</h2>

	<div class="col-12 col-md-6">
		<div class="row">
			<div class="col-12 col-md-8">
				<p>Subkey is recommended for technically advanced users who are comfortable with the command line and compiling
					Rust
					code. Subkey allows you to generate keys on any device that you can compile the code on, and may be useful for
					automated account generation, using an air-gapped device other than one running iOS or Android, or other
					specific
					purposes. It is not recommended for general users.</p>
				<p>If you wish to use Subkey, detailed build and usage instructions are
					<a href="https://github.com/paritytech/substrate/tree/master/bin/utils/subkey" target="_blank"
						rel="noopener noreferrer">here</a>.
				</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 slider-img-wrapper">
		<div id="s3_1" class="slider-img dot pt-0 mr-md-5">
			<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/subkey_01.jpg">
		</div>
	</div>
</div>
