<div id="nested_inner_slider_polkadot_js">
	<div>
		<div class="row mb-5">
			<div class="col-12">
				<div class="row">
					<div class="col-12 mb-2">
						<h2 class="text-white">Directly From polkadot.js</h2>
					</div>
					<div class="col-12 col-md-5">
						<p>
							<code>WARNING:</code>
							This is the least secure method of generating an address. It
							should only be
							used if there are no
							other
							options available, and you are aware of the risks involved, up to and including total loss of any DOTs or
							KSM
							stored in the account.</p>
						<p>It is possible to generate an address directly from the polkadot.js app, without any additional security
							measures such as that provided by having an air-gapped device or a separate plugin.</p>
					</div>
					<div class="col-12 col-md-7 d-flex align-items-center justify-content-center">
						<div id="s4_0" class="slider-img text-center">
							<img class="tns-lazy-img shadow-none"
								data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_01.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 1</div>
						<h2 class="text-white">Go To polkadot.js > Accounts</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Navigate to <a href="https://polkadot.js.org/apps/" target="_blank"
								rel="noopener noreferrer">polkadot.js.org/apps</a> and click on
							Accounts. This is located in the sidebar on the left side
							of your screen.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s4_1" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_js_01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2</div>
						<h2 class="text-white">Start Generation of the Account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Click on the “Add Account” button</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s4_2" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_js_02.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2</div>
						<h2 class="text-white">Start Generation of the Account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>You should see a pop-up which looks like the following. Required text to fill in is highlighted in pink.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-img-wrapper">
				<div id="s4_3" class="slider-img dot">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_js_03.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2</div>
						<h2 class="text-white">Start Generation of the Account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>You can ignore the Advanced creation options - the defaults are fine. You will have to enter an Account
							Name
							and a password to protect your account. Be sure to select a secure and hard-to-guess password. Note that
							anything will be accepted as a password here; there are no checks to see if it is long enough, secure,
							etc. You
							will need this password for any future interaction from this account or to restore it from the backup
							file.
						</p>
						<p>When you have entered valid information for both, the color of the textboxes will have turned from pink
							to
							white.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-img-wrapper">
				<div id="s4_4" class="slider-img dot">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_js_04.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 mb-2">
				<div class="slider-step text-small">Step 3</div>
				<h2 class="text-white">Store the Key Somewhere Safe</h2>
			</div>
			<div class="col-12 col-md-6">
				<p>
					The seed is your <code>"key"</code> to the account. Knowing the key allows you, or anyone else who knows the
					key, to
					re-generate and control this account.
				</p>
				<p>
					It is imperative to store the seed somewhere safe, secret, and secure. If you lose access to your account, you
					can
					re-create it by entering the seed. This also means that somebody else can have control over your account if
					they
					have access to your seed.
				</p>
			</div>
			<div class="col-12 col-md-6">
				<p>
					For maximum security, the seed should be written down on paper or another non-digital device and stored in a
					safe
					place. You may also want to protect your seed from physical damage, as well (e.g. by storing in a sealed
					plastic
					bag to prevent water damage, storing it in a fireproof safe, etc.) It is recommended that you store multiple
					copies of the seed in geographically separate locations (e.g., one in your home safe and one in a safety
					deposit
					box at your bank).
				</p>
				<p>
					You should definitely not store your seed on any kind of computer which has or may have access to the Internet
					in
					the future.
				</p>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 4</div>
						<h2 class="text-white">Create and Backup Account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Click “Save” and your account will be created. It will also generate a backup file which you should save
							to
							your computer. Ideally, you would also save it on an external hard drive or thumb drive, or print it out
							and be
							able to re-enter it later. You should not store it in cloud storage, email it to yourself, etc.</p>
						<p>You can use this backup file to restore your account. This backup file is not readable except by
							decrypting it
							with the password.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-img-wrapper">
				<div id="s4_5" class="slider-img dot">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/polkadot_js_05.jpg">
				</div>
			</div>
		</div>
	</div>
</div>
