<div id="nested_inner_parity_signer">
	<div>
		<div class="row mb-5">
			<div class="col-12">
				<div class="row">
					<div class="col-12 mb-2">
						<h2 class="text-white">Parity Signer (Air-Gapped)</h2>
					</div>
					<div class="col-12 col-md-5">
						<p>For more detailed information on Parity
							Signer, please see
							<a href="https://wiki.parity.io/Parity-Signer-Mobile-App" target="_blank"
								rel="noopener noreferrer">https://wiki.parity.io/Parity-Signer-Mobile-App</a>
						</p>
						<p>This is the recommended, and if done correctly, the most secure, way of generating a Polkadot
							address.
							This will allow you to use a
							separate, air-gapped mobile device as your
							only way of interacting with your account.</p>
					</div>
					<div class="col-12 col-md-7">
						<div class="slider-img text-center ml-md-5 pr-md-5">
							<img class="tns-lazy-img shadow-none"
								data-src="{{site.baseurl}}/assets/images/slider/parity_signer_01.svg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 1</div>
						<h2 class="text-white">Install Parity Signer app</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>Obtain an iOS or Android device. Note that this device will need to be used solely for this purpose. That
							is,
							you will “convert” your device into a storage mechanism for interacting with your DOTs. It will not be
							usable
							for other functionality (e.g. browsing the Internet, making phone calls, running other apps, etc.)
						</p>
						<p>Perform a full factory reset on your device.</p>
						<p>Ensure that you set a strong password that cannot be easily guessed. It is recommended that you do not
							use
							biometric security such as keypress access or facial recognition.</p>
					</div>
					<div class="col-12 col-md-6">
						<p>If this is an iOS device or a newer Android device, full-disk encryption should already be on by default.
							If it
							is an older Android device, turn on full-disk encryption. Note that this may take a long time (an hour or
							more)
							and turning the system off midway through will cause you to lose all data. The instructions for turning on
							full-disk encryption here:
							<a href="https://source.android.com/security/encryption/full-disk" target="_blank"
								rel="noopener noreferrer">https://source.android.com/security/encryption/full-disk</a>
						</p>
						<p>Connect to the Apple Store or Google Play store and search for the Parity Signer app.</p>
						<p>Click the appropriate button to install.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_2" class="slider-img dot ml-md-5">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_02.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2</div>
						<h2 class="text-white">Turn on Airplane Mode and Turn off Wifi and Bluetooth</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>After the application is installed, you should then turn on Airplane Mode and turn off all wireless
							connectivity options (generally, wifi and Bluetooth). This will minimize the “attack surface” of the phone
							-
							that is, it will reduce the number of ways that an attacker could gain access to your phone. Eliminating
							network
							connectivity means that an attacker would need to have physical access to your phone in order to access
							your
							key.
						</p>
						<p>Note that although Parity Signer will work with network connectivity, you will see a message indicating
							that
							you are “Not Secure”. You can use Parity Signer without turning off network connectivity, but is not
							recommended
							as it is then possible for others to potentially remotely access the phone and obtain your seed.</p>
					</div>
					<div class="col-12 col-md-6">
						<p>After this, it is recommended that you use this phone only for accessing your account. It will be able to
							unlock your account by signing transactions without ever exposing your seed to a device connected to a
							network.
							All communication will be done through a very limited communication pathway (displaying and scanning QR
							codes).
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_3" class="slider-img dot ml-md-5">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_03.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 3</div>
						<h2 class="text-white">Run the App</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Go to the “Home” screen and find the Parity Signer app, then click on it to run it. The icon for the
							Parity
							Signer app looks like this
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_4" class="slider-img ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_04.svg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 4</div>
						<h2 class="text-white">Read the Disclaimers</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>When you start this program for the first time, a series of disclaimers and information will be
							displayed. Be
							sure to read and ensure that you understand all of the information presented. If you have any questions or
							wish
							to delve deeper into Parity Signer, it is open source and you can see the code here:
							<a href="https://github.com/paritytech/parity-signer" target="_blank"
								rel="noopener noreferrer">https://github.com/paritytech/parity-signer</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_5_1" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_05_01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 4</div>
						<h2 class="text-white">Read the Disclaimers</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Indicate that you have read, understood, and agree to the terms and conditions by selecting the
							checkboxes and
							pressing the appropriate buttons.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_5_2" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_05_02.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Create an Account and Generate An&nbsp;Address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>At this point, you should be at the main screen. Click the “+” at the top right of the screen, and then
							select
							“New Account”.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_6_1" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_06_01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Create an Account and Generate An&nbsp;Address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>At this point, you should be at the main screen. Click the “+” at the top right of the screen, and then
							select
							“New Account”.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_6_2" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_06_02.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Create an Account and Generate An&nbsp;Address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>At this point, you will be shown a screen where you will have several selections to make. The first is
							Network.
							Ensure that you select “Kusama CC2” (Kusama Candidate Chain 2).</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_6_3" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_06_03.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Create an Account and Generate An&nbsp;Address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Several randomly generated icons will be displayed below this. You may select whichever one you like the
							best,
							or, if you don’t like any of them, you may click the “refresh” icon to the right to generate new ones.
							This icon
							will correspond to a Kusama address which you will see below it in light grey after selecting an icon.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_6_4" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_06_04.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Create an Account and Generate An&nbsp;Address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Finally, enter a name for this account. Note that the name is used only for internal record keeping on
							your
							device; it is not stored on-chain and not visible to anyone who is not using your device. It can also be
							changed
							later.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_6_5" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_06_05.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Create an Account and Generate An&nbsp;Address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>You do not have to do anything with the “Advanced” tab. It can be safely ignored.</p>
						<p>Now, make sure that you have a pen and paper, and click the “Next Step” button at the bottom of the
							screen.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_6_6" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_06_06.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Create an Account and Generate An&nbsp;Address</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>After this, you should see the seed (“recovery phrase”).</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_6_7" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_06_07.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 6</div>
						<h2 class="text-white">Store the Seed Somewhere Safe</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>This may sound repetitive, but it is important to realize that your seed is the key to your entire
							account.
							Someone who knows your seed has uncontested control over your account.
						</p>
						<p>On the other hand, if you lose your seed, and your mobile device fails, you will have no way of accessing
							your
							account. The Web3 Foundation will not be able to override this - any DOTs in that account will not be
							accessible
							to you until you find the seed.</p>
						<p>Thus, it is imperative to store the seed somewhere safe, secret, and secure. If your device fails for
							some
							reason, you can simply re-enter your seed on a new device after following the setup instructions here, and
							have
							access to your account once again.</p>
						<p>For maximum security, the seed should be written down on paper or another non-digital device and stored
							in a
							safe place. You may also want to protect your seed from physical damage, as well (e.g. by storing in a
							sealed
							plastic bag to prevent water damage, storing it in a fireproof safe, etc.) It is recommended that you
							store
							multiple copies of the seed in geographically separate locations (e.g., one in your home safe and one in a
							safety deposit box at your bank).
						</p>
					</div>
					<div class="col-12 col-md-6">
						<p>You should definitely not store your seed on any kind of computer which has or may have access to the
							Internet
							in the future.</p>
						<p>When you have finished, click on “Backup Done”.</p>
						<p>You will have to verify that you have written down your seed before moving on. Remember, if you have not
							written down your seed, and your device breaks or is otherwise unavailable, you will not able to access
							your
							DOTs or do anything from this account.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_7" class="slider-img dot ml-md-5">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_07.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 7</div>
						<h2 class="text-white">Choose A PIN</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>You will now have to select a Personal Identification Number (PIN) which will act as your “password” for
							this
							account. This prevents somebody who gains hold of your device to use your account unless they know the PIN
							as
							well. Be sure that your PIN is secure (not easy to guess for others) but that you can remember it easily.
						</p>
						<p>You will need to enter your PIN for any transactions done with this account.</p>
						<p>You will need to enter the PIN twice to ensure that there are no typos. When you have entered the PIN in
							both
							input boxes, click “Done”.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_8" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_08.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 8</div>
						<h2 class="text-white">Transfer Your Address To A&nbsp;Computer</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Congratulations, you now have a Kusama address! However, you now need to
						</p>
						<p>Remember that the address itself is not secret; it is fine to share publicly, although you may wish to
							take
							care to not have it associated with you.</p>
						<p>On your computer, go to the polkadot.js site at
							<a href="https://polkadot.js.org/apps/" target="_blank"
								rel="noopener noreferrer">https://polkadot.js.org/apps/</a>.</p>
						<p>On the sidebar, click “Accounts”.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_9_1" class="slider-img dot ml-md-3 mr-md-3">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_09_01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 8</div>
						<h2 class="text-white">Transfer Your Address To A&nbsp;Computer</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Click “Add via QR”</p>
						<p>You may need to give your browser permission to access the web camera.</p>
						<p>On your device, click on the account you want the address of. A QR code will be displayed.</p>
						<p>
							Hold your device’s screen up to the camera of your computer. The computer should recognize the QR code as
							an
							address.
						</p>
						<p>
							You will now have a new account listed and may give it a name. Again, this name is used strictly for
							record-keeping in the app; you may name it the same name as on your device or a different name.
						</p>
						<p>To get the address, click on the icon of the account you just generated.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 slider-img-wrapper">
				<div id="s1_9_2" class="slider-img dot">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_09_02.svg">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 8</div>
						<h2 class="text-white">Transfer Your Address To&nbsp;A&nbsp;Computer</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>
							You will see a notification that the full address has been copied to the clipboard. You may then paste it
							wherever
							it is necessary.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-img-wrapper">
				<ul>
					<li>Visit
						<a href="https://polkadot.js.org/apps/" target="_blank" rel="noopener noreferrer">Polkadot-js
							apps</a>
						website.</li>
					<li>Go to
						<code>Accounts</code>
						from the left sidebar.</li>
					<li>Click on
						<code>Add via QR</code>
						button in the top right-hand corner.</li>
					<li>It will ask for the webcam permission for you to scan the Parity Signer’s account QR code, accept it.</li>
					<li>On Parity Signer account’s list, tap on the account you want to copy the address of.</li>
					<li>Scan the QR code displayed on your phone with your computer’s webcam. Make sure the QR code is fully
						displayed on your</li>
					<li>mobile’s screen.</li>
					<li>You can now name this account on Polkadot-js apps.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
