<div id="nested_inner_slider_polkadot_js">
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12 mb-2">
						<h2 class="text-white">Directly From polkadot.js</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>
							<span class="text-primary">WARNING:</span>
							This is the least secure method of generating an address. It
							should only be
							used if there are no
							other
							options available, and you are aware of the risks involved, up to and including total loss of any DOTs or
							KSM
							stored in the account.</p>
					</div>
					<div class="col-12 col-md-6">
						<p>It is possible to generate an address directly from the polkadot.js app, without any additional security
							measures such as that provided by having an air-gapped device or a separate plugin.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 1</div>
						<h2 class="text-white">Go To polkadot.js > Accounts</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>On your computer browser, navigate to https://polkadot.js.org/apps and click Accounts on the sidebar.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5">
				IMG
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2 Multiple</div>
						<h2 class="text-white">Start Generation of the Account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Click on the “Add Account” button</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5">
				IMG
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 3</div>
						<h2 class="text-white">Store the Key Somewhere Safe</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>This may sound repetitive, but it is important to realize that your seed is the key to your entire
							account.
							Someone who knows your seed has uncontested control over your account.</p>
						<p>On the other hand, if you lose your seed, and your mobile device fails, you will have no way of accessing
							your
							account. The Web3 Foundation will not be able to override this - any DOTs in that account will not be
							accessible to you until you find the seed.</p>
						<p>Thus, it is imperative to store the seed somewhere safe, secret, and secure. If your device fails for
							some
							reason, you can simply re-enter your seed on a new device after following the setup instructions here, and
							have access to your account once again.</p>
					</div>
					<div class="col-12 col-md-6">
						<p>For maximum security, the seed should be written down on paper or another non-digital device and stored
							in a
							safe place. You may also want to protect your seed from physical damage, as well (e.g. by storing in a
							sealed
							plastic bag to prevent water damage, storing it in a fireproof safe, etc.) It is recommended that you
							store
							multiple copies of the seed in geographically separate locations (e.g., one in your home safe and one in a
							safety deposit box at your bank).
						</p>
						<p>You should definitely not store your seed on any kind of computer which has or may have access to the
							Internet in the
							future.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-7">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 4 Multiple</div>
						<h2 class="text-white">Create and Backup Account</h2>
					</div>
					<div class="col-12 col-md-8">
						<p>Click “Save” and your account will be created. It will also generate a backup file which you should save
							to
							your computer. Ideally, you would also save it on an external hard drive or thumb drive, or print it out
							and be
							able to re-enter it later. You should not store it in cloud storage, email it to yourself, etc.</p>
						<p>You can use this backup file to restore your account. This backup file is not readable except by
							decrypting it
							with the password.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5">
				IMG
			</div>
		</div>
	</div>
</div>
