<div id="nested_innerA">
	<div>
		<div class="row mb-5">
			<div class="col-12">
				<div class="row">
					<div class="col-12 mb-2">
						<h2 class="text-white">MyCrypto</h2>
					</div>
					<div class="col-12 col-md-5">
						<p>These instructions will help you send a transaction from MyCrypto. MyCrypto is a flexible and secure
							Ethereum wallet that allows you to send a transaction from your Ethereum account and supports many
							different key storage formats.
						</p>
					</div>
					<div class="col-12 col-md-7">
						<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/logo-mycrypto.svg"
							width='80%' />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-5">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 1</div>
						<h2 class="text-white">Install MyCrypto</h2>
					</div>
					<div class="col-12 col-md-12">
						<p>
							<b>Notice:</b>
							It is strongly recommended to download and use the MyCrypto application locally. For some types of key
							storage formats this is the only option. Downloading the application locally allows you to perform the
							signing steps offline if preferred.

						</p>
						<p>
							Ensure that you download the official program from MyCrpyto official sources. You can always find the most
							up-to-date releases of the desktop app on their <a
								href="https://github.com/MyCryptoHQ/MyCrypto/releases">releases page</a>. Choose the one that matches
							your operating system architecture.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-7 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/MyCrypto_012.png">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-5">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2</div>
						<h2 class="text-white">Interacting with Contracts</h2>
					</div>
					<div class="col-12 col-md-12">
						<p>
							Once the MyCrypto application is installed, open it and navigate to the Contracts tab. If you're using the
							locally downloaded app
							this will appear as a sidebar on your application screen. If you're using the browser the tab is found
							by clicking "Interact with Contracts" in the Tools section dropdown.
						</p>
						<p>
							In the selector, choose the Custom option for the contract options and copy the address and ABI of the
							Claims contract. The next slide will display this information for you. If you want to verify it yourself
							you can view it on <a href="">Etherscan verified contracts</a>.
					</div>
				</div>
			</div>
			<div class="col-12 col-md-7 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/MyCrypto_014.png">
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-12">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 2</div>
						<h2 class="text-white">Claims Contract ABI and Address</h2>
					</div>
					<div class="col-12 col-md-6">
						<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
							<p>Copy the ABI from the text area below. Use <code>ctrl-a</code> to select-all and
								<code>ctrl-c</code> to copy. It's also available <a href="{{site.baseurl}}/assets/abi.txt">here</a>.
							</p>
							<textarea rows="4" cols="50" id="contract-abi" class="abi-textarea"></textarea>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<p>Polkadot Claims Contract Address: <code id="claims-address">0x</code></p><br>
						<p>After putting this information into the blank inputs, click the "Access" button in MyCrypto to continue!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-12">
				<div class="row">
					<div class="col-12 mb-2 col-md-7">
						<div class="slider-step text-small">Step 3</div>
						<h2 class="text-white">Entering Inputs</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>Select the <code>claim</code> function from the dropdown and enter the address of the Ethereum account
							that holds the balance of DOT allocation for which you are going to claim.</p>

						<p>The address you are claiming for is usually the same address that you are planning to send the
							transaction from, in exceptional cases it may be from a different key if you are using an "amended" key.
						</p>

					</div>
					<div class="col-12 col-md-6">
						<p>
							For the public key field you will use the decoded public key of your address. On the next slide you can
							input your address into the decoder to get your raw public key.
						</p>
					</div>
				</div>
				<div class="col-12 col-md-5 slider-img-wrapper">
					<div class="slider-img">
						<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/MyCrypto_016.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-12">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="slider-step text-small">Step 3</div>
						<h2 class="text-white">Get Your Public Key</h2>
					</div>
					<div class="col-12 col-md-12 text-center justify-content-center">
						<input type='text' class="dashboard-input mb-5" onchange="globalThis.getPubkey(); "
							onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" id="dot-addr-inp"
							placeholder="Enter your Polkadot Address" onfocus="this.placeholder=''"
							onblur="this.placeholder='Enter your Polkadot Address'">
						<code id="decoded-pubkey">Your decoded public key will appear here.</code>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-12">
				<div class="row">
					<div class="col-12 mb-2 col-md-12">
						<div class="slider-step text-small">Step 4</div>
						<h2 class="text-white">Sending the Transaction</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>
							First unlock your account by selecting the option that matches with the way that you've stored your
							Ethereum
							private key. After you've unlocked your account you can continue with the instruction below.
						</p>
						<p>
							Uncheck the box that says Automatically Calculate Gas Limit and instead use <code>150000</code> as the gas
							limit. You can make changes to the gas price or simply keep it at the default. The network gas price is
							available at
							<a href="https://www.ethgasstation.info/">ETH Gas Station</a>.
						</p>

					</div>
					<div class="col-12 col-md-6">
						<p>
							Click the "Write" button in MyCrypto and unlock your wallet using the method for your preferred key
							storage method. After
							unlocking your account click "Sign Transaction" and in order to send it to the network.
						</p>
						<p>
							MyCrypto will display a link leading you to a popular block explorer in order to verify your transaction
							was mined on the network.
							Once you see it go through you can safely close MyCrypto.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row mb-5">
			<div class="col-12 col-md-12">
				<div class="row">
					<div class="col-12 mb-2 col-md-12">
						<div class="slider-step text-small">Step 5</div>
						<h2 class="text-white">Verifying your Claim</h2>
					</div>
					<div class="col-12 col-md-6">
						<p>
							The DOTs are not available to you until Polkadot launches. However, if you would like to verify your claim
							you can do so below.
						</p>
					</div>
					<div class="col-12 col-md-6">
						<p>
							Enter an Ethereum address, Polkadot address, or Polkadot public key in the input to get the corresponding
							claim
							information. Inputting an address will show you the registered Polkadot address, public key,
							index, and balance of your claim. If all of this data looks right then your claim was a success! When
							Polkadot
							launches, the DOTs will be available automatically in your Polkadot address immediately from genesis.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
