<div class="row mb-5">
	<div class="col-12 mb-2">
		<h2 class="text-white">Coinbase</h2>
	</div>
	<div class="col-12 col-md-5">
		<p class="text-primary">
			<code>
				Please note that using Coinbase for the claims process requires your account to contain at least 1,000 (one
				thousand) DOTs. If you have fewer than this number of tokens, please use a different claims mechanism.
			</code>
		</p>
		<h3 class="h5 text-white">Open Coinbase Account</h3>
		<ol class="m-0 p-0 mb-2" style="list-style: decimal inside;">
			<li class="mb-2">Open an account by contacting Coinbase directly at <a href="mailto:sales@coinbase.com"
					target="_blank" rel="noopener noreferrer">sales@coinbase.com</a></li>
			<li class="mb-2">Once you’ve opened an account, Coinbase Custody will generate a DOT address for you to use in the
				claims
				process
				and send it to you.</li>
			<li class="mb-2">You may then claim your tokens using your Coinbase Custody DOT address and your tokens will
				appear in your
				Custody account.</li>
		</ol>
		<p class="small text-secondary">For questions about claiming with Coinbase, please contact: <br>Nick de Bontin
			+1-630-884-8182
			sales@coinbase.com
		</p>
	</div>
	<div class="col-12 col-md-7">
		<div class="slider-img text-center ml-md-5 mr-md-5">
			<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/slider/coinbase_01.png">
		</div>
	</div>
</div>
