<div class="row justify-content-start">
	<div class="col-12 col-lg-8 mb-4">
		<div class="display-4 text-secondary mb-2">Step 1</div>
		<h2 class="display-4">Generate a Native Polkadot Address</h2>
		<h3 class="h2">There are several ways to generate a&nbsp;Polkadot address</h3>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<p>Parity Signer, the Polkadot Plugin, Subkey, and via
			polkadot.js, Coinbase.</p>
		<p>If you do not know which way to generate an address, we recommend using the Parity Signer app with an air-gapped
			cell
			phone, i.e. a cellphone that isn't connected to the internet or any network. The cell phone must run the iOS or
			Android operating system. Note that for the highest level of security,
			this cell phone would then permanently be disconnected after downloading the Parity Signer app. It is possible to
			use Parity Signer without [MISSING TEXT HERE]</p>
		<p>If you do not have a cell phone that you use as an air-gapped device, you can use the Polkadot plug-in. This will
			allow you to generate addresses without a separate device. With respect to security, the plug-in is less desirable
			than the Parity Signer app
			.</p>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<p>Using subkey for generating addresses is for technically advanced users. This method is not recommended unless
			you have
			specific needs and are comfortable interacting with the command line and compiling Rust code.</p>
		<p>Using the polkadot.js user interface without the plugin is not recommended. It is the least secure way of
			generating an
			account. It is listed here only if none of the previous options are feasible for your situation.</p>
		<p>If you have any problems, please ask for help in the Polkadot Address Generation Help channel on the
			<a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation" target="_blank"
				rel="noopener noreferrer">Web3
				Foundation’s Riot Server</a>
			or email
			<a href="mailto:help@web3.foundation" target="_blank" rel="noopener noreferrer">help@web3.foundation</a>.
		</p>
	</div>
	<div class="col-12 mb-4">
		<h3 class="h2">What Will Be Generated</h3>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<p>A key concept to understand is that you are actually generating two
			<strong class="text-primary">“keys”</strong>
			(strings of characters),
			<strong class="text-primary">one public</strong>
			(the address) and
			<strong class="text-primary">one
				private</strong>
			(your seed). A useful analogy is
			a mailroom at the post office. Anybody with your address can send you mail, or put mail in your mailbox, but
			you need your private key to open your mailbox and move your mail. Similarly, anybody with your Polkadot
			address can send you dots, but to do anything with those dots in your account, you will need to have your
			seed (or an application which have already entered it).</p>
		</p>
		<p>Your Polkadot address can be shared publicly, but you should never reveal your seed. If somebody has your
			address, they could send you dots or associate your real-world identity with on-chain actions. However, this
			information would not allow them to harm your account or do anything in your name.</p>
	</div>
	<div class="col-12 col-md-6 col-lg-6 mb-4">
		<p>If somebody has access to your seed, they have complete control over your account! This means that they can
			do anything that you could do, including transfer all of your dots to a different account. Neither Web3
			Foundation nor anyone else will be able to recover your dots in such a situation.</p>

		<p>Bearing that in mind, we recommended that you do not store your seed anywhere on a digital device which can be
			connected to a network. It should be written down on paper and only entered when necessary. It should never be
			shared with anybody - again, if anyone has access to your seed, they will have complete control over your
			account.</p>
	</div>
</div>
