<div class="row justify-content-start">
	<div class="col-12 mb-4">
		<h2 class="display-4">Create a Wallet</h2>
		<h3 class="h2">Ways To Generate a Polkadot Address</h3>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<p>There are several ways to generate a Polkadot address: Parity Signer, the Polkadot Plugin, Subkey, and via
			polkadot.js.</p>
		<p>If you do not know which way to generate an address, we recommend using Parity Signer with an air-gapped cell
			phone. The cell phone must run the iOS or Android operating system. Note that for the highest level of security,
			this cell phone would then permanently be disconnected after downloading the Parity Signer app. It is possible to
			use Parity Signer without</p>
		<p>If you do not have a cell phone that you use as an air-gapped device, you can use the Polkadot plug-in. This will
			allow you to generate addresses without a separate device. However, it is less secure than using the Parity Signer
			app.</p>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<p>Using subkey for generating addresses is for technically advanced users. It is not recommended unless you have
			specific needs, and are comfortable interacting with the command line and compiling Rust code.</p>
		<p>Using the polkadot.js UI without the plugin is not recommended. It is the least secure way of generating an
			account. It is listed here only if none of the previous options are feasible for your situation.</p>
		<p>If you have any problems, please ask for help in the Polkadot Address Generation Help channel on the Web3
			Foundation’s Riot Server: <a href="https://riot.w3f.tech/#/room/!ZKHDHXRBmWDglNFUiQ:web3.foundation"
				target="_blank" rel="noopener noreferrer">https://riot.w3f.tech/#/room/!ZKHDHXRBmWDglNFUiQ:web3.foundation</a>
		</p>
	</div>
	<div class="col-12 mb-4">
		<h3 class="h2">What Will Be Generated</h3>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<p>A key concept to understand is that you are actually generating two
			<strong class="text-primary">“keys”</strong>
			(strings of characters),
			<strong class="text-primary">one public</strong>
			(the address) and
			<strong class="text-primary">one
				private</strong>
			(your seed). A useful analogy is
			a mailroom at the post office. Anybody with your address can send you mail, or put mail in your mailbox, but
			you need your private key to open your mailbox and move your mail. Similarly, anybody with your Polkadot
			address can send you DOTs, but to do anything with those DOTs in your account, you will need to have your
			seed (or an application which have already entered it).</p>
		</p>
		<p>Your Polkadot address can be shared publicly, but you should never reveal your seed. If somebody has your
			address, they could send you DOTs or associate your real-world identity with on-chain actions. However, this
			information would not allow them to harm your account or do anything in your name.</p>
	</div>
	<div class="col-12 col-md-6 col-lg-6 mb-4">
		<p>If somebody has access to your seed, they have complete control over your account! This means that they can
			do anything that you could do, including transfer all of your DOTs to a different account. Neither the Web3
			Foundation nor anyone else will be able to recover your DOTs in such a situation.</p>

		<p>This is why it is recommended that you do not store your seed anywhere on a digital device which can be
			connected to a network. It should be written down on paper and only entered when necessary. It should never be
			shared with anybody - again, if anyone has access to your seed, they will have complete control over your
			account.</p>
	</div>
</div>
