<div class="row justify-content-start">
	<div class="col-12 col-lg-9">
		<div class="display-4 text-secondary mb-2">Step 2</div>
		<h2 class="display-4">Generate a Polkadot Address</h2>
	</div>
	<div class="col-12 col-lg-7 mb-4">
		<h3 class="h2 mt-0">There are several ways to generate a&nbsp;Polkadot address</h3>
	</div>
</div>

<div class="row mb-2">

	<div class="col-12 col-md-6 col-lg-4 mb-4">
		<a href="#wallet-create" class="jsSliderGoTo" data-slider="1">
			<div class="card shadow border-radius-2 min-100 link">
				<div class="card-body p-3">
					<h4 class="h6 mb-4">Polkadot{.js} Browser Plugin</h4>
					<p>If you do not have a cell phone that you use as an air-gapped device, you can use the Polkadot plug-in.
						This
						will allow you to generate addresses without a separate device. With respect to security, the plug-in is
						less
						desirable than the Parity Signer app.</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-12 col-md-6 col-lg-4 mb-4">
		<a href="#wallet-create" class="jsSliderGoTo" data-slider="2">
			<div class="card shadow border-radius-2 min-100 link">
				<div class="card-body p-3">
					<h4 class="h6 mb-4">Subkey</h4>
					<p>Using subkey for generating addresses is for technically advanced users. This method is not recommended
						unless you have specific needs and are comfortable interacting with the command line and compiling Rust
						code.
					</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-12 col-md-6 col-lg-4 mb-4">
		<a href="#wallet-create" class="jsSliderGoTo" data-slider="3">
			<div class="card shadow border-radius-2 min-100 link">
				<div class="card-body p-3">
					<h4 class="h6 mb-4">polkadot.js</h4>
					<p>Using the polkadot.js user interface without the plugin is not recommended. It is the least secure way of
						generating an account. It is listed here only if none of the previous options are feasible for your
						situation.
					</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-12 col-md-6 col-lg-4 mb-4">
		<a href="#wallet-create" class="jsSliderGoTo" data-slider="4">
			<div class="card shadow border-radius-2 min-100 link">
				<div class="card-body p-3">
					<h4 class="h6 mb-4">Coinbase</h4>
					<p>
						If you have (or want to get) a Coinbase account, you can claim your DOTs through their system. Coinbase
						requires at
						least 1,000 (one thousand) DOTs in your account to use this service.
					</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-12 col-md-6 col-lg-4 mb-4">
		<div class="card shadow border-radius-2 min-100 opacity-50">
			<div class="card-body p-3">
				<h4 class="h6 mb-4">Parity Signer</h4>
				<p>
					Parity Signer is a secure way of storing your DOTs on an air-gapped device.<br>
					It will be available after the launch of Polkadot.
				</p>
			</div>
		</div>
	</div>

</div>

<div class="row mb-4">
	<div class="col-12 col-md-6">
		<p class="text-secondary">If you have any problems, please ask for help in the Polkadot Address Generation Help
			channel on the
			<a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation" target="_blank"
				rel="noopener noreferrer">Web3 Foundation’s Riot Server</a>
			or email <a href="mailto:help@web3.foundation" target="_blank" rel="noopener noreferrer">help@web3.foundation</a>.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-12 mb-4">
		<h3 class="h2">What Will Be Generated</h3>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<p>A key concept to understand is that you are actually generating two
			<code class="text-primary bg-gray">“keys”</code>
			(strings of characters),
			<code class="text-primary bg-gray">one public</code>
			(the address) and
			<code class="text-primary bg-gray">one
				private</code>
			(your seed). A useful analogy is
			a mailroom at the post office. Anybody with your address can send you mail, or put mail in your mailbox, but
			you need your private key to open your mailbox and move your mail. Similarly, anybody with your Polkadot
			address can send you dots, but to do anything with those dots in your account, you will need to have your
			seed (or an application which have already entered it).</p>
		</p>
		<p>Your Polkadot address can be shared publicly, but you should never reveal your seed. If somebody has your
			address, they could send you dots or associate your real-world identity with on-chain actions. However, this
			information would not allow them to harm your account or do anything in your name.</p>
	</div>
	<div class="col-12 col-md-6 col-lg-6 mb-4">
		<p>If somebody has access to your seed, they have complete control over your account! This means that they can
			do anything that you could do, including transfer all of your dots to a different account. Neither Web3
			Foundation nor anyone else will be able to recover your dots in such a situation.</p>

		<p>Bearing that in mind, we recommended that you do not store your seed anywhere on a digital device which can be
			connected to a network. It should be written down on paper and only entered when necessary. It should never be
			shared with anybody - again, if anyone has access to your seed, they will have complete control over your
			account.</p>
	</div>
</div>
