---
layout: default
---

<section class="bg-primary">
	<div class="container height-30">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-lg-8 pt-4 pb-3">
				<h1 class="display-4 text-white mb-3">Time to Claim Your Dots</h1>
				<p class="lead">
					This site includes a step-by-step guide to claim your dots as well as verify your claim and check your dot
					balance. By completing this process, your dots holdings will be transposed onto Polkadot with the network's
					genesis block. This site is only for holders of dot allocation indicator tokens.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-white pt-5">
	<div class="container">
		{%- include process-overview.html -%}
		<div class="row mt-5">
			<div class="col-12 col-md-6">
				<p class="text-secondary">
					Completing the transaction that underlies the claim will cost a small amount of Ether.
				</p>
				</iv>
			</div>
		</div>
</section>

<section id="verify-ethereum-address" class="bg-dark">
	<div class="container height-40">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<div class="display-4 mb-2 opacity-70 text-white">Step 1</div>
				<h2 class="display-4 text-white mb-5">Check Your Ethereum <br>Address</h2>
				<input class="dashboard-input mb-5" placeholder="Paste an Ethereum address" onfocus="this.placeholder=''"
					onblur="this.placeholder='Paste an Ethereum address'" onchange="globalThis.validAddress();"
					onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" id="validity-input">
				<p class="text-white">
					<span id='validity-statement'>We will tell you here if the address has a valid claim!</span>
				</p>
			</div>
		</div>
	</div>
</section>

<section id="wallet" class="bg-white">
	<div class="container">
		{%- include wallet.html -%}
	</div>
	<span id="wallet-create"></span>
</section>

<section class="bg-dark pt-3 pt-md-3 pt-lg-0 pb-0">
	<div class="container pb-0">
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive active"
			data-slider="1">Polkadot{.js}
			Browser
			Plugin</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive"
			data-slider="2">Subkey</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive"
			data-slider="3">polkadot.js</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive"
			data-slider="4">Coinbase</button>
		<button class="btn mt-lg-minus-3 mr-1 mr-lg-2 mb-2" disabled>Parity Signer</button>
	</div>
	<div class="pb-2">
		<div class="slider text-white">
			<div>
				<div class="container">
					{%- include slider_polkadot_js_plugin.html -%}
				</div>
			</div>
			<div>
				<div class="container">
					{%- include slider_subkey.html -%}
				</div>
			</div>
			<div>
				<div class="container">
					{%- include slider_polkadot_js.html -%}
				</div>
			</div>
			<div>
				<div class="container">
					{%- include slider_coinbase.html -%}
				</div>
			</div>
		</div>
	</div>
</section>

<section id="claim" class="bg-white">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-12 mb-4">
				<div class="display-4 text-secondary mb-2">Step 3</div>
				<h2 class="display-4">Claim Your Dots</h2>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<p>If you participated in a previous dot sale and received your dot allocation
					indicator tokens, you can now claim your dots, i.e. transpose them from the Ethereum address where your dot
					allocation indicator tokens were stored to a native Polkadot address.</p>
				<p>Make sure to use your original Ethereum key during this
					process.</p>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-4">
				<p>If you don’t have a Polkadot address, you will
					need to generate one.</p>
				<p>
					<a href="#wallet">Go to Create an Address</a>
				</p>
			</div>
		</div>
	</div>
	<span id="claim-process"></span>
</section>

<section class="bg-dark pt-3 pt-md-3 pt-lg-0 pb-0">
	<div class="container pb-0">
		<a href="#claim-process"
			class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoToA jsActive active">MyCrypto</a>
	</div>
	<div class="pb-2">
		<div class="slider sliderA text-white">
			<div>
				<div class="container">
					{%- include slider_myCrypto.html -%}
				</div>
			</div>
		</div>
	</div>
</section>

<script src="assets/js/infobox.min.js"></script>
<script src="assets/js/pubkey.min.js"></script>

<section id="claim-verify" class="bg-primary">
	<div class="container height-40">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<div class="display-4 mb-2 opacity-70">Step 4</div>
				<h2 class="display-4 text-white mb-5">Verify Your Claim</h2>
				<input class="dashboard-input mb-5" onchange="globalThis.infoBoxChecker();" onkeyup="this.onchange();"
					onpaste="this.onchange();" oninput="this.onchange();" id="address-input"
					placeholder="Paste your Polkadot address" onfocus="this.placeholder=''"
					onblur="this.placeholder='Paste your Polkadot address'" />
				<p>
					Allocation address: <span id="eth-address">Unknown</span><br>
					Polkadot address: <span id="pd-address">None</span><br>
					Public key: <span id="pubkey">None</span><br>
					Index: <span id="index">None</span><br>
					Balance: <span id="balance">0</span> DOT<br>
					Vesting: <span id='vesting'>None</span>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-white">
	<div class="container spacer-y-2">
		<div class="row justify-content-between">
			<div class="col-md-9 col-lg-8">
				<h2 class="display-4 mb-5 text-center">FAQ</h2>
				{%- include faq.html -%}
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-md-4 spacer-y-1 text-center">
				Any other questions?
			</div>
			<div class="col-12 text-center">
				<a href="mailto:help@web3.foundation" class="btn btn-lg btn-primary mt-3 mx-md-1 px-4" target="_blank"
					rel="noopener noreferrer">Email Us</a>
				<a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation"
					class="btn btn-lg btn-primary mt-3 mx-md-1" target="_blank" rel="noopener noreferrer">Riot
					Channel</a>
			</div>
		</div>
</section>
