---
layout: default
---

<section class="p-0 bg-white">
	<div class="container pt-5 pb-5">
		<div class="row text-center justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<h1 class="display-4 text-dark">DOT Claim</h1>
			</div>
		</div>
	</div>
</section>

<section class="bg-white pt-0">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-12 mb-4">
				<h2>What Will Be Generated</h2>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<p>A key concept to understand is that you are actually generating two
					<strong class="text-primary">“keys”</strong>
					(strings of characters),
					<strong class="text-primary">one public</strong> (the address) and <strong class="text-primary">one
						private</strong> (your seed). A useful analogy is
					a mailroom at the post office. Anybody with your address can send you mail, or put mail in your mailbox, but
					you need your private key to open your mailbox and move your mail. Similarly, anybody with your Polkadot
					address can send you DOTs, but to do anything with those DOTs in your account, you will need to have your
					seed (or an application which have already entered it).</p>
				</p>
				<p>Your Polkadot address can be shared publicly, but you should never reveal your seed. If somebody has your
					address, they could send you DOTs or associate your real-world identity with on-chain actions. However, this
					information would not allow them to harm your account or do anything in your name.</p>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-4">
				<p>If somebody has access to your seed, they have complete control over your account! This means that they can
					do anything that you could do, including transfer all of your DOTs to a different account. Neither the Web3
					Foundation nor anyone else will be able to recover your DOTs in such a situation.</p>

				<p>This is why it is recommended that you do not store your seed anywhere on a digital device which can be
					connected to a network. It should be written down on paper and only entered when necessary. It should never be
					shared with anybody - again, if anyone has access to your seed, they will have complete control over your
					account.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-dark pt-md-0 pb-5">
	<div class="container pb-2">
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-2 jsSliderGoTo active">Parity Signer</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-2 jsSliderGoTo">Polkadot Browser Plugin</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-2 jsSliderGoTo">Subkey</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-2 jsSliderGoTo">polkadot.js</button>
	</div>
	<div class="pb-2">
		<div class="slider text-white pt-5 pb-0">
			<div>
				<div class="container">
					{%- include slider_parity_signer.html -%}
				</div>
			</div>
			<div>
				<div class="container">
					<h2 class="text-white">Polkadot Browser Plugin</h2>
				</div>
			</div>
			<div>
				<div class="container">
					{%- include slider_subkey.html -%}
				</div>
			</div>
			<div>
				<div class="container">
					{%- include slider_polkadot_js.html -%}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="p-0 bg-white">
	<div class="container pt-5 pb-5">
		<div class="row text-center justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<h1 class="display-4 text-dark">Another section</h1>
			</div>
		</div>
	</div>
</section>
