---
layout: default
---

<section class="bg-primary">
	<div class="container height-30">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-lg-8 pt-4 pb-3">
				<h1 class="display-4 text-white mb-3">Time to Claim Your Dots</h1>
				<p class="lead">
					This site includes a step-by-step guide to connect your dot allocation, as denoted on Ethereum, with a native
					Polkadot address. You will also be able to verify that your claim was successful and check the balance of your
					Polkadot address once the claim is complete. This site is only for holders of dot allocation indicator tokens.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-white pt-3 pt-md-5">
	<div class="container">
		{%- include process-overview.html -%}
		<div class="row mt-4">
			<div class="col-12 col-md-6">
				<p class="text-secondary text-center text-md-left px-4 px-md-0">
					Completing the transaction that underlies the claim will cost a small amount of ether, around $1 worth.
				</p>
				</iv>
			</div>
		</div>
</section>

<section id="verify-ethereum-address" class="bg-dark">
	<div class="container height-40">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<div class="display-4 mb-2 opacity-70 text-white" data-aos="slide-up" data-aos-once="false">Step 1</div>
				<h2 class="display-4 text-white mb-3 mb-md-5">Check Your Ethereum <br>Address</h2>
				<input class="dashboard-input mb-3 mb-md-5" placeholder="Paste an Ethereum address"
					onfocus="this.placeholder=''" onblur="this.placeholder='Paste an Ethereum address'"
					onchange="window.validAddress();" onkeyup="this.onchange();" onpaste="this.onchange();"
					oninput="this.onchange();" id="validity-input">

				<div class="dashboard-output mt-2">
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Claim Status:</div>
						<div class="dashboard-output-value text-white"><span id="validity-statement">unknown</span></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="wallet" class="bg-white">
	<div class="container">
		{%- include wallet.html -%}
	</div>
	<span id="wallet-create"></span>
</section>

<section class="bg-dark pt-3 pt-md-3 pt-lg-0">
	<div class="container pb-0">
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive active"
			data-slider="1">polkadot.js browser plugin</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive"
			data-slider="2">subkey</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive"
			data-slider="3">polkadot.js</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive"
			data-slider="4">Coinbase</button>
		<button class="btn mt-lg-minus-3 mr-1 mr-lg-2 mb-2" disabled>Parity Signer</button>
	</div>
	<div class="slider text-white">
		<div>
			<div class="container">
				{%- include slider_polkadot_js_plugin.html -%}
			</div>
		</div>
		<div>
			<div class="container">
				{%- include slider_subkey.html -%}
			</div>
		</div>
		<div>
			<div class="container">
				{%- include slider_polkadot_js.html -%}
			</div>
		</div>
		<div>
			<div class="container">
				{%- include slider_coinbase.html -%}
			</div>
		</div>
	</div>
</section>

<section id="claim" class="bg-white">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-12 mb-4">
				<div class="display-4 text-secondary mb-2" data-aos="slide-up" data-aos-once="false">Step 3</div>
				<h2 class="display-4">Claim Your Dots</h2>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<p>
					If you participated in a previous dot sale and received your dot allocation indicator tokens, you can now
					claim your dots, i.e. connect the address where your dot indicators have been stored on Ethereum with a native
					Polkadot address. The claims process will ensure that your dot allocation is denoted in Polkadot's genesis
					block.
				</p>
				<p>
					Make sure to use the Ethereum key you used for your dot allocation indicator tokens during this process. You
					can check your Ethereum key in <a href="#verify-ethereum-address">Step 1</a>.
				</p>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-4">
				<p>
					If you don’t have a Polkadot address, you will need to generate one.
					You can generate a Polkadot address in
					<a href="#wallet">Step 2</a>.
				</p>
				<p>
					When you make a claim, you will be assigned an index as well. This index is a short code -- 6 characters or
					less -- that can be used as short-hand version of your Polkadot address. Indices are assigned on a first-come,
					first-served basis.
				</p>

				<div class="dashboard-output-group mb-0 mr-2 d-inline-block">
					<div class="dashboard-output-name">Next Index:</div>
					<div class="dashboard-output-value"><span id="next-index">...</span></div>
				</div>

			</div>
		</div>
	</div>
	<span id="claim-process"></span>
</section>

<section class="bg-dark pt-3 pt-md-3 pt-lg-0">
	<div class="container pb-0">
		<a href="#claim-process"
			class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoToA jsActive active">MyCrypto</a>
	</div>
	<div class="slider sliderA text-white">
		<div>
			<div class="container">
				{%- include slider_myCrypto.html -%}
			</div>
		</div>
	</div>
</section>

<script src="assets/js/infobox.min.js"></script>
<script src="assets/js/pubkey.min.js"></script>

<section id="claim-verify" class="bg-primary">
	<div class="container height-40">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<div class="display-4 mb-2 opacity-70 text-white" data-aos="slide-up" data-aos-once="false">Step 4</div>
				<h2 class="display-4 text-white mb-3 mb-md-5">Verify Your Claim</h2>
				<input class="dashboard-input mb-3 mb-md-5" onchange="window.infoBoxChecker();" onkeyup="this.onchange();"
					onpaste="this.onchange();" oninput="this.onchange();" id="address-input"
					placeholder="Paste your Polkadot address" onfocus="this.placeholder=''"
					onblur="this.placeholder='Paste your Polkadot address'" />

				<div class="dashboard-output mt-2">
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Allocation Address:</div>
						<div class="dashboard-output-value"><span id="eth-address">unknown</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Polkadot Address:</div>
						<div class="dashboard-output-value"><span id="pd-address">none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Public Key:</div>
						<div class="dashboard-output-value"><span id="pubkey">none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Index:</div>
						<div class="dashboard-output-value"><span id="index">none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Vesting:</div>
						<div class="dashboard-output-value"><span id='vesting'>none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Balance:</div>
						<div class="dashboard-output-value"><span id="balance">0</span> DOT</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="bg-white">
	<div class="container spacer-y-2">
		<div class="row justify-content-center">
			<div class="col-md-9 col-lg-8">
				<h2 class="display-4 mb-5 text-center">FAQ</h2>
				{%- include faq.html -%}
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-md-4 spacer-y-1 text-center">
				Any other questions?
			</div>
			<div class="col-12 text-center" data-aos="fade-up">
				<a href="mailto:help@web3.foundation" class="btn btn-lg btn-primary mt-3 mx-md-1 px-4" target="_blank"
					rel="noopener noreferrer">Email Us</a>
				<a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation"
					class="btn btn-lg btn-primary mt-3 mx-md-1" target="_blank" rel="noopener noreferrer">Riot
					Channel</a>
			</div>
		</div>
</section>
